<p> In ID=<%= @client.id %> 
	<span> Name: <%= t "Name", age: @client.first_name %> 
	Avatar: <%= image_tag @client.avatar.url(:thumb) %> </span> has <%= @client.orders_count %> order: </p>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Order Name</th>
    
  </tr>
 <% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.name %></td>
   
  </tr>

<% end %>
</table>